@import '../../assets/scss/Variable.scss';
@import '../../assets/scss/Fonts.scss';
@import '../../assets/scss/Responsive.scss';

img{
    width: 100%;
}
.services-item {
    display: flex;
    margin-top: 50px;
    align-items: center;
    
    @include mobile {     
        flex-direction: column;
    }
    &-left{
        flex: 0 0 50%;
        img{
            height: 400px;
            width: 90%;
            object-fit: contain;
            @include mobile {     
                height: unset;
                margin-bottom: 30px;
            }
        }
    }
    &-right{
        flex: 0 0 50%;
    }
}

.service-item-mobile{
    @include mobile {     
        flex-direction: column-reverse;
    }
}