@import './Variable.scss';
@import './Fonts.scss';
@import './Responsive.scss';

.aboutUs_intro{
    padding-bottom: 50px;
    &__subtitle{
        position: relative;
        padding-left: 75px;
        display: block;
        font-weight: 700;
        margin: 10px 0;
        &:before{
            position: absolute;
            content: '';
            width: 65px;
            height: 1px;
            background-color: $success-color;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    p{
        text-align: justify;
    }
}
.aboutUs_achievement{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: $gray-color;
    &__list{
        display:grid;
        grid-template-columns: auto auto auto;
    }
}

.aboutUs_chooseUs{
    padding: 50px 0;
    &__list {
        display: grid;
        grid-template-columns: auto auto auto;
        margin-top: 50px;
        @include mobile{
            grid-template-columns: auto;
        }
        &__item{
            padding: 15px 30px;
            transition: box-shadow .3s;
            img{
                width: 120px;
                height: 120px;
                object-fit: contain;
                margin-bottom: 10px;
            }
            h5{
                font-weight: 700;
                font-family: 'Inter-Bold';
                font-size: 24px;
            }
            &:hover{
                box-shadow: 0 0 11px rgba(33,33,33,.2); 
            }
        }
    }
    .nav-tabs{
        margin-top: 40px;
        justify-content: space-evenly;
        .nav-link{
            border: unset;
            color: $black-color;
            @include mobile{
                padding: 10px;
            }
        }
        .nav-link.active{
            border-bottom: 2px solid $success-color;
        }
    }
}

.aboutUs_tab {
    display: flex;
    flex-direction: column;
    font-weight: 700;
    font-size: 18px;
    img {
        width: 120px;
        height: 80px;
        object-fit: contain;
        @include mobile{
            width: 40px;
            height: 40px;
            margin: 0 auto;
        }
    }
}

.mission-tabs_item{
    display: flex;
    padding-top: 40px;
    width: 75%;
    margin: 0 auto;
    @include mobile{
        flex-direction: column;
        width: 100%;
    }
    img{
        width: 300px;
        @include mobile{
            width: 100%;
        }
    }
    p{
        display: inline;
        padding: 0 40px;
        text-align: justify;
        @include mobile{
            padding: 10px 0;
        }
    }
}