@import './Variable.scss';
@import './Fonts.scss';
@import './Responsive.scss';

body{
    font-family: 'Inter';
}

h1{
    font-family: 'Inter-Bold';
}

p{
    line-height: 30px;
}

ul {
    padding-left: 25px;
}

ul li {
    margin-bottom: 10px;
}
span{
    line-height: 26px;
}

/******** Text Color ********/
.text-success{
    color: $success-color !important;
}

.text-primary{
    color: $primary-color !important;
}
.text-grey{
    color: $grey-color !important;
}

.font-12{
    font-size: 12px;
}
.readMore-link{
    font-family: 'Inter-Bold';
    &:hover{
        cursor: pointer;
    }
}
/******** Button ********/
.button-success{
    background-color: $success-color;
    border: 2px solid $success-color !important;
    border-radius: 30px;
    padding: 10px 40px !important;
    font-weight: 700;
    transition: 0.3s;
    a{
        color: $white-color;
        text-decoration: none;
    }
    &:hover{
        background-color: transparent;
        color: $success-color !important;
        box-shadow: 0 10px 15px 0 rgba(2, 30, 7, 0.1);
        transform: translateY(-5px);
        a{
            color: $success-color;
        }
    }
}

.is-line {
    height: 1px;
    background: #D8D8D8;
    margin: 50px 0;
}

.breadcrumb{
    background-color:transparent;
}

/******** Home page ********/
.home-banner{
    margin-top: -100px;
    .home-banner-item{
        padding-top: 250px;
        height: 100vh;
        @include mobile{
            padding-top: 150px;
        }
    }
    .home-bannerImage {
        position: absolute;
        max-width: 800px;
        right: 0;
        bottom: 0;
    }
}
.home-aboutUs{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color:  $gray-color;
    &-imageRight{
        max-width: 100%;
    }
    &-imageLeft{
        width: 140px;
    }
}
.home-servicesUs{
    padding-top: 50px;
    padding-bottom: 50px;
}


.home-productUs-item{
    padding-bottom: 50px;
    
    img{
        height: 300px;
        object-fit: contain;
    }
    .card{
        border: unset !important;
        padding: 10px;
        transition: all 500ms ease-in-out;
        &:hover{
            box-shadow: 0px 12px 30px 0px rgba(0, 0, 0, 0.2);
            transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
        }
        &-body{
            text-align: center;
        }
    }
    .product-card__subTitle{
        color: $success-color;
        font-size: 16px;
    }
    .product-card__title{
        font-family: 'Inter-Bold';
        color: $primary-color;
        font-size: 36px;
        font-weight: 700;
    }
}

.home-customer{
    padding-top: 150px;
    padding-bottom: 100px;
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    &__title{
        margin-bottom: 50px;
        margin-top: 50px;
        h1{
            font-size: 38px;
            line-height: 1.5em;
        }
        .title_color {
            color: $success-color;
            font-size: 54px;
        }
    }
    &__brands{
        color: $success-color;
        border-bottom: 2px solid $success-color;
        font-family: 'Inter-Bold';
        padding-bottom: 5px;
    }
    &__brandsImage{
        width: 450px;
        padding-top: 50px;
        @include mobile{
            width: 100%;
        }
    }
    
}

.home-posts{
    padding: 50px 0;
    &__container{
        display: grid;
        grid-template-columns: auto auto auto;
        @include mobile{
            grid-template-columns: 100%;
        }
    }
}
.home-contact{
    padding: 50px 0;
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    &__content{
        margin-top: 30px;
    }
    &__info{
        margin-top: 30px !important;
        align-items: center;
        justify-content: flex-end;
        width: 400px;
        display: flex;
        margin: 0 auto;
        @include mobile{
            width: 100%;
            justify-content: center;
        }
        &__text{
            h3{
                font-family: 'Inter-Bold';
                @include mobile{
                    font-size: 24px;
                }
            }
            span{
                font-size: 14px;
            }
        }
    }
    &__img{
        width: 200px;
    }
}

.back_to_top {
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 50px;
    height: 50px;
    background-color: #ffff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    box-shadow: 0px 0px 2px 2px rgba(104, 102, 102, 0.2);
    visibility: hidden;
    a{
        color: $primary-color;
    }
}
.show{
    visibility: visible;
}


