@import './Variable.scss';
@import './Fonts.scss';
@import './Responsive.scss';

.customers_intro{
    &__content{
        position: relative;
        text-align: center;
        >img{
            width: 100%;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
        }
        &__text{
            width: 75%;
            margin: 0 auto;
            padding-top: 100px;
            display: flex;
            padding-bottom: 40px;
            @include mobile{
                width: 100%;
                flex-direction: column-reverse;
                justify-content: center;
                align-items: center;
                padding-top: 50px;
            }
            p{
                font-weight: 700;
                text-align: center;
                padding-top: 10px;
                @include mobile{
                    text-align: justify;
                }
            }
            img{
                width: 75px;
                @include mobile{
                    width: 50px;
                }
            }
        }
        &__logo{
            width: 75%;
            margin: auto;
            @include mobile{
                width: 100%;
            }
        }
    }
}