@mixin font($font-family, $font-file, $font-weight) {
    @font-face {
        font-family: $font-family;
        src: url($font-file+'.ttf') format('truetype');
        font-weight: $font-weight;
        font-style: normal;
    }
}

@include font('Inter', '../fonts/Inter/Inter-Regular', 400);
@include font('Inter-Bold', '../fonts/Inter/Inter-Bold', 700);