@import './Variable.scss';
@import './Fonts.scss';
@import './Responsive.scss';

.prices_wrapper{
    background-color: #f9fbfe;
}
.prices_package {
    text-align: center;
    margin-top: 40px;
    padding: 30px 60px;
    transition: all 0.5s ease-in-out;
    background-color: $white-color;
    border-radius: 4px;
    margin-bottom: 40px;
    @include mobile{
        padding: 30px;
        margin-top: 20px;
    }
    &:hover{
        box-shadow: 0px 2px 35px 0px rgba(0, 0, 0, 0.1);
    }
    &__title{
        font-size: 24px;
        font-weight: 700;
    }
    &__subtTitle{
        font-size: 14px;
        font-weight: 400;
        min-height: 52px;
    }
    &__price{
        font-size: 38px;
    }
    ul{
        list-style: none;
    }
    >*{
        margin-bottom: 20px;
    }
    span{
        display: block;
    }
}

.prices-list{
    padding: 40px 0;
    &__ul{
        display: grid;
        grid-template-columns: auto auto auto;
        text-align: left;
        margin-top: 50px;
        @include mobile{
            grid-template-columns: auto;
        }
        ul{
            list-style: none;
            @include mobile{
                margin-bottom: 0;
                padding-left: 0;
                font-size: 14px;
            }
        }
    }
}