
.SvgIcon_box{
    display: flex;
    margin-bottom: 15px;
    align-items: center;
    img{
        object-fit: contain;
    }
    span{
        display:block;
        padding-left: 15px;
        margin-bottom: 10px;
    }
}