.customer-card{
    .card{
        border: unset !important;
        border-radius: 10px;
        &:hover{
            cursor: pointer;
        }
        .card-body{
            padding: 2.5rem 1.25rem;
        }
    }
    .custommer-card__info {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        &__name{
            h3{
                font-size: 16px;
                font-weight: 700;
            }
            span{
                font-size: 14px;
            }
            
        }
    }
    &__logo{
        img{
            width: 100px;
            object-fit: contain;
        }
    }
}