@import '../../assets/scss/Variable.scss';
@import '../../assets/scss/Responsive.scss';
.title-page{
    .title-pageSmall{
        font-size: 16px;
        font-size: 700;
    }   
    .title-pageLagre{
        color: $primary-color;
        font-size: 46px;
        @include mobile {
            font-size: 36px;
        }
    }   
    .title-underlinePage{
        color: $primary-color;
        position: relative;
        &:after{
            content:"";
            position: absolute;
            height: 5px;
            width: 200px;
            background-color: $success-color;
            bottom: 10px;
            left: 50%;
            transform: translateX(-50%);
            z-index: -1;
        }
    }
}
