@import '../../assets/scss/Variable.scss';
@import '../../assets/scss/Fonts.scss';
@import '../../assets/scss/Responsive.scss';

.ContactUs_box{
    padding: 100px;
    text-align: center;
    @include mobile{
        padding: 100px 0px;
        background-size: cover;
        background-attachment: fixed;
    }
    .btn{
        margin-top: 40px;
    }
    span{
        margin-bottom: 30px;
        display: block;
    }
}