@import '../../assets/scss/Variable.scss';
@import '../../assets/scss/Fonts.scss';
@import '../../assets/scss/Responsive.scss';

.header-wrapper{
    height: 90px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 999;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
}
.scrolled{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: $white-color;
    padding: 25px 0;
}
.text-primary{
    color: $primary-color;
}
.header-left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .menu-icon{
        display: none;
        @include mobile {     
            display: block;
        }
    }
}

.navbars{
    @include mobile {
        display: none;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        opacity: 0;
        visibility: visible;
        text-align: center;
        background-color: $white-color;
    }    
    .nav{
        .nav-item{
            .nav-link--active{
                background-color: $success-color !important;
                color: $white-color !important;
            }
            .nav-link{
                color: $primary-color;
                font-size: 16px;
                font-weight: 700;
                padding: .5rem 1.2rem;
                position: relative;
                background-color: transparent;
                border-radius: 20px;
                &:hover{
                    background-color: $success-color;
                    color: $white-color;
                    transition: .2s ease-in-out;
                }
            }
        }
    }
}

.navbars-mobile{
    opacity: 1;
    visibility: visible;
    display: block;
    .nav{
        flex-direction: column;
        justify-content: center !important;
        align-items: center;
        .nav-item{
            @include mobile{
                width: 100%;
            }
        }
    }
}

.dropdown {
    .dropbtn {
        font-size: 17px;    
        border: none;
        outline: none;
        color: white;
        padding: 14px 16px;
        background-color: inherit;
        font-family: inherit;
        margin: 0;
    }
    &-content{
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        @include mobile{
            position: relative;
            box-shadow: unset !important;
        }
        a{
            color: $primary-color;
            text-align: center !important;
            margin: 10px;
            text-decoration: none;
            display: block;
            text-align: left;
        }
    }
    &-show{
        .dropdown-content {
            display: block;
        }
    }
  }
