@import '../../assets/scss/Variable.scss';
@import '../../assets/scss/Fonts.scss';
@import '../../assets/scss/Responsive.scss';

.footer{
    padding-top: 50px;
    background-color: $grey-color;
    &-logo{
        width: 140px;
    }
    &-address{
        display: block;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    &-socials{
        margin-top: 30px;
        ul{
            list-style: none;
            display: flex;
            flex-wrap: nowrap;
            padding-left: 0;
            li{
                a{
                    text-decoration: none;
                    &:hover{
                        cursor: pointer;
                    }
                    img{
                        width: 25px;
                        height: 25px;
                        object-fit: contain;
                    }
                }
                &:nth-child(2){
                    padding: 0px 15px
                }
            }
        }
    }

    &-title{
        color: $primary-color;
        font-size: 14px;
        font-family: 'Inter-Bold';
        margin-top: 15px;
        display: block;
    }
    &-list{
        margin-top: 30px;
        list-style: none;
        padding-left: 0;
        li{
            margin-bottom: 0px;
            a{
                color: $black-color;
            }
        }
    }
    &-list-contact{
        li{
            margin-bottom: 15px;
        }
    }
    .is-line {
        height: 1px;
        background-color: #d0d0d0;
    }
    &-absolute{
        margin: 30px 0;
        display: block;
    }

}