@import '../../assets/scss/Responsive.scss';

.DetailService_feature{
    @include mobile{
        grid-template-columns: 100% !important;
    }
    >div{
        padding-right: 20px ;
        padding-bottom: 30px;
        @include mobile{
            padding-bottom: 0;
            padding-right: 0;
            margin-top: 30px;
        }
    }
    .SvgIcon_box{
        &:hover{
            img{
                -webkit-animation-name: hvr-pulse;
                animation-name: hvr-pulse;
                -webkit-animation-duration: 1s;
                animation-duration: 1s;
                -webkit-animation-timing-function: linear;
                animation-timing-function: linear;
                -webkit-animation-iteration-count: infinite;
                animation-iteration-count: infinite;
            }
        }
    }
   
}

.DetailService_context{
    @include mobile{
        grid-template-columns: 100% !important;
    }
    >div:nth-child(2){
        @include mobile{
            margin: 0 !important;
            text-align: justify;
        }
    }
}

.DetailService_brands{
    padding-top: 50px;
}
.DetailService_context__advantages{
    ul{
        list-style: none;
        padding-left: 0;
    }
}


/* Pulse */
@-webkit-keyframes hvr-pulse {
    25% {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
    75% {
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
    }
}
@keyframes hvr-pulse {
    25% {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
    75% {
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
    }
}
.hvr-pulse {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-pulse:hover, .hvr-pulse:focus, .hvr-pulse:active {
    -webkit-animation-name: hvr-pulse;
    animation-name: hvr-pulse;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}