@import '../../assets/scss/Variable.scss';
@import '../../assets/scss/Fonts.scss';
@import '../../assets/scss/Responsive.scss';

.card_post{
    padding-right: 40px;
    color: $black-color;
    @include mobile{
        padding-right: 0;
        margin-bottom: 25px;
    }
    &:hover{
        cursor: pointer;
        color: $black-color;
        text-decoration: none;
        .card_post__title{
            color: $primary-color;
        }
        .card_post__img{
            overflow: hidden;
            img{
                transform: scale(1.1);
                transition: .4s ease-in-out;
            }
        }
    }
    &__title{
        font-size: 20px;
        font-family: 'Inter-Bold';
    }
    &__img{
        margin: 15px 0px;
    }
    &__content{
        font-size: 16px;
        margin-bottom: 10px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical; 
    }
    &__authorDate{
        color: #B0B0B0;
        font-size: 14px;
    }
}