@import '../../assets/scss/Fonts.scss';
@import '../../assets/scss/Responsive.scss';

.icon_box{
    text-align: center;
    &__img{
        margin: 0 auto;
        width: 60px;
        height: 60px;
        margin-bottom: 10px !important;
        img{
            height: 60px;
            object-fit: contain;
        }
    }
    &__number{
        font-family: 'Inter-Bold';
        font-size: 56px;
        position: relative;
        &:after{
            content: '+';
            position: absolute;
            top: -10px;
            font-size: 32px;
        }
        @include mobile{
            font-size: 36px;
        }
    }
    &__text{
        font-size: 18px;
        font-weight: 700;
        @include mobile{
            font-size: 13px;
        }
    }
}